@charset "UTF-8";
@font-face {
  font-family: 'mplus-1m-thin';
  src: url("http://mplus-webfonts.sourceforge.jp/mplus-1m-thin.eot");
  src: url("http://mplus-webfonts.sourceforge.jp/mplus-1m-thin.eot?#iefix") format("embedded-opentype"), url("http://mplus-webfonts.sourceforge.jp/mplus-1m-thin.woff") format("woff"), url("http://mplus-webfonts.sourceforge.jp/mplus-1m-thin.ttf") format("truetype");
}

@media screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
  a {
    text-decoration: none;
  }
  body {
    font-family: "Roboto", sans-serif;
  }
  #nav-input {
    margin-left: 320px;
    position: absolute;
    top: -440px;
    z-index: 9999;
  }
  #nav-drawer {
    position: relative;
  }
  /* チェックボックス等は非表示に */
  .nav-unshown {
    display: none;
  }
  .check-box-position {
    text-align: right;
  }
  #nav-open {
    display: inline-block;
    width: 50px;
    height: 35px;
    position: absolute;
    right: 15px;
    top: -484px;
    z-index: 9999;
  }
  /*閉じる用の薄黒箇所*/
  #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  /*メニューの中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9000;
    width: 89vw;
    max-width: 330px;
    /*最大幅（お好みで調整を）*/
    height: 100%;
    background-color: #F2EDE9;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(125%);
    transform: translateX(125%);
    text-align: left;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 100;
    padding-top: 210px;
    line-height: 2.9rem;
  }
  #nav-content h2,
  #nav-content h3,
  #nav-content h4 {
    font-weight: 100;
    font-size: 1.35rem;
    padding-left: 50px;
  }
  #nav-content ul {
    padding-left: 70px;
    padding-top: 17px;
    padding-bottom: 20px;
    list-style: none;
    font-size: 1.175rem;
  }
  #nav-content .my-parts {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
  }
  #nav-content .my-parts span::before,
  #nav-content .my-parts span::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84%;
    height: 10%;
    margin: -8% 0 0 -42%;
    background: #868383;
  }
  #nav-content .my-parts span::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #nav-content .my-parts span::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  /*チェックがついたら表示させる*/
  #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
  }
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
            box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  }
  #front {
    width: 100vw;
    background-color: #FFFDFA;
  }
  #front .wrapper {
    width: 100vw;
  }
  #front header {
    background-color: #FFF7EF;
  }
  #front header nav {
    text-align: right;
    padding-top: 10px;
  }
  #front header nav a {
    padding-right: 15px;
    color: #707070;
    font-size: 1.25rem;
    font-weight: 500;
  }
  #front header h1 {
    text-align: center;
    color: #707070;
    font-weight: 500;
    font-size: 2.5rem;
  }
  #front header .background-img {
    height: 285px;
    background-image: url("images/iPhone/front-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 44px;
  }
  #front header .background-img h2 {
    padding-top: 110px;
    padding-left: 6%;
    color: #fff;
    font-weight: 100;
    font-size: 9.5vw;
  }
  #front header .search_container .fontawesome {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 100;
    line-height: 0.8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.55rem;
    margin-left: 6%;
    margin-top: 40px;
  }
  #front header .search_container input[type="text"] {
    border: 1px solid #363535;
    padding: 3px 10px;
    border-radius: 10px;
    height: 2.8rem;
    width: 61%;
    overflow: hidden;
    background-color: #fff;
  }
  #front header .search_container input[type="text"]:focus {
    outline: 0;
    height: 2.8rem;
  }
  #front header .search_container input[type="submit"] {
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1rem;
    background: #F2EDE9;
    border: 1px solid #363535;
    border-radius: 10px;
    color: #707070;
    outline: none;
    width: 22%;
    height: 2.8rem;
    margin-left: 20px;
    display: inline-block;
    position: absolute;
    top: 121px;
    left: 66%;
  }
  #front .content {
    background-color: #FFFDFA;
  }
  #front .takeout-area {
    background-image: url("images/iPhone/front-bg2.png");
    height: 643px;
    background-size: cover;
    margin: 5% 6%;
  }
  #front .takeout-area h2 {
    font-size: 2.5rem;
    color: #EAEAEA;
    padding-left: 10px;
    padding-top: 11px;
  }
  #front .takeout-area .section-area {
    margin-top: 174px;
    margin-left: 3%;
    margin-right: 3%;
  }
  #front .takeout-area section {
    background-color: rgba(255, 255, 255, 0.8);
    height: 162px;
    color: #707070;
  }
  #front .takeout-area section h3 {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: bold;
    font-size: 6vw;
    margin-left: 10px;
    padding-top: 6%;
  }
  #front .takeout-area section p {
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 3%;
  }
  #front .takeout-area .sub-content1 {
    margin-bottom: 10px;
  }
  #front .eatin-area {
    background-image: url("images/iPhone/front-bg3.png");
    height: 643px;
    background-size: cover;
    margin: 5% 6%;
  }
  #front .eatin-area h2 {
    font-size: 2.5rem;
    color: #fff;
    margin-left: 10px;
    padding-top: 16px;
  }
  #front .eatin-area .section-area {
    margin-top: 168px;
    margin-left: 3%;
    margin-right: 3%;
  }
  #front .eatin-area section {
    background-color: rgba(255, 255, 255, 0.8);
    height: 162px;
    color: #707070;
  }
  #front .eatin-area section h3 {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: bold;
    font-size: 6vw;
    margin-left: 10px;
    padding-top: 6%;
  }
  #front .eatin-area section p {
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 3%;
  }
  #front .eatin-area .sub-content1 {
    margin-bottom: 10px;
  }
  #front .map-area {
    margin-top: 13%;
    background-image: url("images/iPhone/front-map.png");
    background-size: cover;
    height: 184vw;
    font-family: "M PLUS 1p", sans-serif;
  }
  #front .map-area .upper-area {
    background-color: rgba(0, 0, 0, 0.6);
    height: 59%;
  }
  #front .map-area h2 {
    font-size: 7.5vw;
    font-weight: 200;
    margin-left: 11%;
    padding-top: 11%;
    color: #fff;
  }
  #front .map-area hr {
    width: 75px;
    height: 3px;
    background-color: #fff;
    margin-left: 11%;
    margin-top: 5%;
  }
  #front .map-area p {
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 3px;
    line-height: 8vw;
    color: #fff;
    font-size: 3.7vw;
    font-weight: 100;
  }
  #front .map-area .lower-area {
    background-color: rgba(0, 0, 0, 0.4);
    height: 41%;
  }
  footer {
    background-color: #9D8670;
    height: 150px;
    color: #fff;
    font-family: "M PLUS 1p", sans-serif;
    width: 100%;
  }
  footer div {
    padding-top: 32px;
    padding-left: 20%;
    padding-right: 20%;
  }
  footer a {
    color: #fff;
    font-size: 5vw;
    font-weight: 300;
  }
  footer p {
    padding-top: 5px;
    padding-left: 30%;
    padding-right: 30%;
  }
  footer p small {
    font-size: 3.5vw;
  }
  @font-face {
    font-family: 'mplus-1m-thin';
    src: url("http://mplus-webfonts.sourceforge.jp/mplus-1m-thin.eot");
    src: url("http://mplus-webfonts.sourceforge.jp/mplus-1m-thin.eot?#iefix") format("embedded-opentype"), url("http://mplus-webfonts.sourceforge.jp/mplus-1m-thin.woff") format("woff"), url("http://mplus-webfonts.sourceforge.jp/mplus-1m-thin.ttf") format("truetype");
  }
  #archive {
    width: 375px;
  }
  #archive .wrapper {
    width: 375px;
  }
  #archive header {
    background-color: #FFF7EF;
  }
  #archive header nav {
    text-align: right;
    padding-top: 10px;
  }
  #archive header nav a {
    padding-right: 15px;
    color: #707070;
    font-size: 1.25rem;
    font-weight: 500;
  }
  #archive header h1 {
    text-align: center;
    color: #707070;
    font-weight: 500;
    font-size: 2.5rem;
  }
  #archive header .background-img {
    height: 285px;
    background-image: url("images/iPhone/archive-bg1.png");
    background-repeat: no-repeat;
    background-position: top -748px left 0px;
    margin-top: 44px;
  }
  #archive header .background-img .background-shadow {
    height: 285px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #archive header .background-img h2 {
    padding-top: 110px;
    padding-left: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 2.25rem;
  }
  #archive header .background-img p {
    color: #fff;
    padding-left: 30px;
    padding-top: 5px;
  }
  #archive header .search_container .fontawesome {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 100;
    line-height: 0.8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.55rem;
    margin-left: 22px;
    margin-top: 40px;
  }
  #archive header .search_container input[type="text"] {
    border: 1px solid #363535;
    padding: 3px 10px;
    border-radius: 10px;
    height: 2.8rem;
    width: 230px;
    overflow: hidden;
    background-color: #fff;
  }
  #archive header .search_container input[type="text"]:focus {
    outline: 0;
    height: 2.8rem;
  }
  #archive header .search_container input[type="submit"] {
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1rem;
    background: #F2EDE9;
    border: 1px solid #363535;
    border-radius: 10px;
    color: #707070;
    outline: none;
    width: 80px;
    height: 2.8rem;
    margin-left: 20px;
    display: inline-block;
    position: absolute;
    top: 121px;
    left: 245px;
  }
  #archive .archive-content {
    background-color: #FFFDFA;
  }
  #archive .archive-content section:nth-child(n+3) {
    padding-top: 20px;
  }
  #archive .archive-content section {
    font-family: "M PLUS 1p", sans-serif;
  }
  #archive .archive-content section h2 {
    font-weight: 300;
    font-size: 1.70rem;
    margin-left: 20px;
    padding-top: 28px;
  }
  #archive .archive-content section p {
    width: 350px;
    margin-left: 20px;
    padding-top: 25px;
    padding-bottom: 30px;
    font-weight: 300;
    line-height: 1.70rem;
  }
  #archive .archive-content .sub-content-area {
    color: #fff;
  }
  #archive .archive-content .sub-content-area img {
    height: 235px;
    margin-left: 17px;
  }
  #archive .archive-content .sub-content-area .sub-content-info {
    background-color: #3C2B1C;
    height: 355px;
    width: 342px;
    margin-top: -7px;
    margin-left: 17px;
  }
  #archive .archive-content .sub-content-area .sub-content-info h2 {
    font-size: 1.25rem;
  }
  #archive .archive-content .sub-content-area .sub-content-info p {
    padding-bottom: 0px;
    width: 250px;
  }
  #archive .archive-content .sub-content-area .sub-content-info p:nth-child(3) {
    padding-top: 0px;
  }
  #archive .archive-content .sub-content-area .sub-content-info a {
    background-color: #fff;
    color: #707070;
    text-align: center;
    display: block;
    width: 160px;
    padding: 10px 0px;
    margin: 50px auto;
    border-radius: 40px;
  }
  #archive .archive-content .paging-area {
    height: 115px;
    margin-left: 18px;
    width: 342px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #archive .archive-content .paging-area div {
    margin-top: 64px;
    margin-bottom: 27px;
  }
  #archive .archive-content .paging-area div a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #archive .archive-content .paging-area div a img {
    width: 19px;
    height: 19px;
    margin-top: 3px;
  }
  #archive .archive-content .paging-area div a p {
    color: #707070;
  }
  #archive .archive-content .paging-area div a .left {
    margin-left: 5px;
  }
  #archive .archive-content .paging-area div a .right {
    margin-right: 5px;
  }
  @font-face {
    font-family: 'mplus-1m-thin';
    src: url("http://mplus-webfonts.sourceforge.jp/mplus-1m-thin.eot");
    src: url("http://mplus-webfonts.sourceforge.jp/mplus-1m-thin.eot?#iefix") format("embedded-opentype"), url("http://mplus-webfonts.sourceforge.jp/mplus-1m-thin.woff") format("woff"), url("http://mplus-webfonts.sourceforge.jp/mplus-1m-thin.ttf") format("truetype");
  }
  #single {
    width: 100vw;
    background-color: #FFFDFA;
    color: #3C2A10;
  }
  #single #nav-open {
    top: -426px;
  }
  #single .wrapper {
    width: 100vw;
  }
  #single header {
    background-color: #FFF7EF;
  }
  #single header nav {
    text-align: right;
    padding-top: 10px;
  }
  #single header nav a {
    padding-right: 15px;
    color: #707070;
    font-size: 1.25rem;
    font-weight: 500;
  }
  #single header h1 {
    text-align: center;
    color: #707070;
    font-weight: 500;
    font-size: 2.5rem;
  }
  #single header .background-img {
    height: 226px;
    background-image: url("images/iPhone/single-bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 44px;
  }
  #single header .background-img h2 {
    padding-top: 80px;
    padding-left: 11%;
    color: #fff;
    font-weight: normal;
    font-size: 9.5vw;
  }
  #single header .background-img p {
    color: #fff;
    padding-left: 30px;
    padding-top: 5px;
  }
  #single header .search_container .fontawesome {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 100;
    line-height: 0.8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.55rem;
    margin-left: 6%;
    margin-top: 40px;
  }
  #single header .search_container input[type="text"] {
    border: 1px solid #363535;
    padding: 3px 10px;
    border-radius: 10px;
    height: 2.8rem;
    width: 61%;
    overflow: hidden;
    background-color: #fff;
  }
  #single header .search_container input[type="text"]:focus {
    outline: 0;
    height: 2.8rem;
  }
  #single header .search_container input[type="submit"] {
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1rem;
    background: #F2EDE9;
    border: 1px solid #363535;
    border-radius: 10px;
    color: #707070;
    outline: none;
    width: 22%;
    height: 2.8rem;
    margin-left: 20px;
    display: inline-block;
    position: absolute;
    top: 121px;
    left: 66%;
  }
  #single .wrapper {
    width: 100vw;
  }
  #single .narrow-wrapper {
    margin-right: 6%;
    margin-left: 6%;
  }
  #single article {
    margin-top: 30px;
    color: #3C2A10;
  }
  #single article div {
    margin-left: 20px;
  }
  #single article h2 {
    font-weight: normal;
    font-size: 1.75rem;
  }
  #single article p {
    margin-top: 20px;
    line-height: 1.7rem;
  }
  #single article .ttl-area h3 {
    margin-top: 38px;
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 1.5rem;
  }
  #single article .ttl-area h4 {
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 1.25rem;
  }
  #single blockquote {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #F5F5F5;
  }
  #single blockquote p:first-child {
    padding-top: 25px;
    margin-left: 6%;
    margin-right: 6%;
    line-height: 1.7rem;
  }
  #single blockquote p:last-child {
    margin-left: 20px;
    margin-top: 30px;
    padding-bottom: 30px;
  }
  #single blockquote p:last-child small {
    text-decoration: underline;
    color: #027386;
    font-size: 0.1rem;
    padding-left: 10px;
  }
  #single .main-content img:first-child {
    width: 100%;
  }
  #single .main-content .main-content-flex {
    margin-top: 9%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #single .main-content .main-content-flex img {
    height: 25%;
    width: 36%;
    margin-top: 2%;
  }
  #single .main-content .main-content-flex p {
    padding-left: 8%;
    line-height: 7.5vw;
  }
  #single .main-content .main-content-flex p:first-child {
    padding-left: 0;
    padding-right: 8%;
  }
  #single .sub-content {
    margin-top: 20px;
    margin-left: 6%;
    margin-right: 6%;
  }
  #single .sub-content img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  #single .sub-content img:first-child {
    width: 81%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 28px;
  }
  #single .sub-content .list-area {
    margin-left: 19px;
    margin-top: 10px;
  }
  #single .sub-content .list-area .first-list ul {
    list-style-type: decimal;
    margin-bottom: 20px;
  }
  #single .sub-content .list-area .first-list ul:nth-child(2) {
    margin-left: 20px;
  }
  #single .sub-content .list-area .second-list {
    margin-top: 50px;
  }
  #single .sub-content .list-area .second-list ul {
    list-style: none;
    margin-left: -19px;
    margin-bottom: 20px;
  }
  #single .sub-content .list-area .second-list ul:nth-child(2) {
    margin-left: 0px;
  }
  #single .sub-content p {
    background-color: #F5F5F5;
    width: 100%;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 80px;
  }
  #single .sub-content p span {
    padding-left: 20px;
  }
  #single .info-area {
    height: 117vw;
  }
  #single .info-area a {
    color: #3C2A10;
    display: block;
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    padding: 7%;
    background-color: #F2EDE9;
    border-radius: 20px;
    border: 1px #3C2A10 solid;
  }
  #single table {
    border-collapse: collapse;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 7%;
    margin-bottom: 8%;
  }
  #single table td {
    width: 41vw;
    border: solid 1px #3C2A10;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    padding-left: 8vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: #fff;
  }
  #single table td:nth-child(2n) {
    width: 59vw;
  }
  #single .background-img-page {
    height: 226px;
    margin-top: 44px;
    background-image: url("images/iPhone/page-bg1.png");
    background-size: 90%;
    background-position: center center;
  }
  #single .background-img-page h2 {
    padding-top: 80px;
    padding-left: 11%;
    color: #fff;
    font-weight: normal;
    font-size: 9vw;
  }
}
/*# sourceMappingURL=style.css.map */